<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{#each styles}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
</head>

<body>
    {{#each beforeBody}}
    {{{include this}}}
    {{/each}}

    {{{body}}}

    {{#each afterBody}}
    {{{include this}}}
    {{/each}}

    {{#each nodeModules}}
    <script src="{{this}}"></script>
    {{/each}}

    {{#each scripts}}
    <script type="module" src="{{this}}"></script>
    {{/each}}
</body>

</html>