test
{{#each home}}
 <div>
    <p>{{date}}</p>
    <p>{{student_id}}</p>
    <p>{{level}}</p>
    <p>{{program}}</p>
    <p>{{guidance_service_availed}}</p>
    <p>{{contact_type}}</p>
    <p>{{nature_of_concern}}</p>
    <p>{{concern}}</p>
    <p>{{status}}</p>
    <p>{{intervention}}</p>
    <p>{{remarks}}</p>
 </div>
{{/each}}