<header>
    <nav class="navbar navbar-expand-md navbar-dark custom-navbar" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Guidance365</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Manage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Upload XLSX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/qrgen">Generate QR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" onclick="openAddModal()">add</a>
                </ul>
                <form role="search">
                    <input class="form-control" id="searchBar" type="search" placeholder="Search (CTRL K)"
                        aria-label="Search" onkeypress="searchStudent()">
                </form>
            </div>
        </div>
    </nav>
</header>

<div class="containerr">
    <div class="content">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Student #</th>
                        <th>Level</th>
                        <th>Program</th>
                        <th>Guidance Service Availed</th>
                        <th>Contact Type</th>
                        <th>Nature Of Concern</th>
                        <th>Specific Concern</th>
                        <th>Concern</th>
                        <th>Intervention</th>
                        <th>Status</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {{#each home}}
                    <tr>
                        <td ondblclick="editableCell(this)">{{date}}</td>
                        <td ondblclick="editableCell(this)">{{student_id}}</td>
                        <td ondblclick="editableCell(this)">{{level}}</td>
                        <td ondblclick="editableCell(this)">{{program}}</td>
                        <td ondblclick="editableCell(this)">{{guidance_service_availed}}</td>
                        <td ondblclick="editableCell(this)">{{contact_type}}</td>
                        <td ondblclick="editableCell(this)">{{nature_of_concern}}</td>
                        <td ondblclick="editableCell(this)">{{specific_concern}}</td>
                        <td ondblclick="editableCell(this)">{{concern}}</td>
                        <td ondblclick="editableCell(this)">{{intervention}}</td>
                        <td ondblclick="editableCell(this)">{{status}}</td>
                        <td ondblclick="editableCell(this)">{{remarks}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="qr-code-scan">
            <a onclick="openQrScannerModal()">
                <img src="/node_modules/bootstrap-icons/icons/qr-code-scan.svg" alt="QR Code Scan"
                    style="width: 2.5em; height: 2.5em; filter: invert(100%);">
            </a>
        </div>
    </div>
</div>

<div id="addDataModal" class="add-modal-data">
    <div class="modal-content">
        <span class="close" onclick="closeAddModal()">close</span>
        <h2>Add New Data</h2>
        <form id="addDataForm" enctype="multipart/form-data" onsubmit="addData(event)">
            <label for="student_id">Student #:</label>
            <input type="text" id="student_id" name="student_id" required>
            <br>
            <label for="level">Level:</label>
            <input type="text" id="level" name="level" required>
            <br>
            <label for="program">Program:</label>
            <input type="text" id="program" name="program" required>
            <br>
            <label for="guidance_service_availed">Guidance Service Availed:</label>
            <input type="text" id="guidance_service_availed" name="guidance_service_availed" required>
            <br>
            <label for="contact_type">Contact Type:</label>
            <input type="text" id="contact_type" name="contact_type" required>
            <br>
            <label for="nature_of_concern">Nature Of Concern:</label>
            <input type="text" id="nature_of_concern" name="nature_of_concern" required>
            <br>
            <label for="specific_concern">Specific Concern:</label>
            <input type="text" id="specific_concern" name="specific_concern" required>
            <br>
            <label for="concern">Concern:</label>
            <input type="text" id="concern" name="concern" required>
            <br>
            <label for="intervention">Intervention:</label>
            <input type="text" id="intervention" name="intervention" required>
            <br>
            <label for="status">Status:</label>
            <input type="text" id="status" name="status" required>
            <br>
            <label for="remarks">Remarks:</label>
            <input type="text" id="remarks" name="remarks" required>
            <br>
            <button type="submit">Add Data</button>
        </form>
    </div>
</div>

<div id="qrScannerModal" class="qr-scanner-modal">
    <div class="modal-content">
        <span class="close" onclick="closeQrScannerModal()">close</span>
        <div class="container">
            <div class="section">
                <div id="reader"></div>
            </div>
        </div>
    </div>
</div>