<div class="containerr">
    <div class="content">
        <div class="m-1">
            <select class="form-select form-select-md fw-bold" aria-label="Default select menu">
                <option selected>Information Spreadsheet</option>
                <option value="counseling">Counseling Spreadsheet</option>
                <option value="inventory">Individual Inventory Spreadsheet</option>
            </select>
        </div>

        <div class="table-container m-1">
            <table class="table table-striped table-hover table-bordered">
                {{!-- https://www.geeksforgeeks.org/how-to-make-bootstrap-table-with-sticky-table-head/ --}}
                <thead style="position: sticky; top: 0;">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Student #</th>
                        <th scope="col">Level</th>
                        <th scope="col">Program</th>
                        <th scope="col">Guidance Service Availed</th>
                        <th scope="col">Contact Type</th>
                        <th scope="col">Nature Of Concern</th>
                        <th scope="col">Specific Concern</th>
                        <th scope="col">Concern</th>
                        <th scope="col">Intervention</th>
                        <th scope="col">Status</th>
                        <th scope="col">Remarks</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {{#each home}}
                    <tr>
                        <td ondblclick="editableCell(this)">{{date}}</td>
                        <td ondblclick="editableCell(this)">{{student_id}}</td>
                        <td ondblclick="editableCell(this)">{{level}}</td>
                        <td ondblclick="editableCell(this)">{{program}}</td>
                        <td ondblclick="editableCell(this)">{{guidance_service_availed}}</td>
                        <td ondblclick="editableCell(this)">{{contact_type}}</td>
                        <td ondblclick="editableCell(this)">{{nature_of_concern}}</td>
                        <td ondblclick="editableCell(this)">{{specific_concern}}</td>
                        <td ondblclick="editableCell(this)">{{concern}}</td>
                        <td ondblclick="editableCell(this)">{{intervention}}</td>
                        <td ondblclick="editableCell(this)">{{status}}</td>
                        <td ondblclick="editableCell(this)">{{remarks}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="qr-code-scan-icon m-4">
            <a data-bs-toggle="modal" data-bs-target="#scanQRModal" id="qrCodeScanIcon">
                <img src="/node_modules/bootstrap-icons/icons/qr-code-scan.svg" alt="QR Code Scan"
                    style="width: 2.5rem; height: 2.5rem; filter: invert(100%);">
            </a>
        </div>
    </div>
</div>